nav {
    background: rgba(0, 0, 0, 0.5); 
    position: fixed;
    top: 88vh;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    display: block;
    height: 8vh;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    bottom: 2rem;
    display: flex;
    gap: 1rem;
    border-radius: 3rem;
}

nav a {
    padding: 0.9rem;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
    align-items: center;
    border-radius: 50%;
}

nav a:hover {
    background: rgba(0, 0, 0, 0.5 );
}

nav a.active {
    background-color: var(--color-bg);
    color: var(--color-white);
}